*.cpio
*.elf
*.img
src/*.elf
src/*.img
src/*.o
boot/*.o

kernel/*.elf
kernel/*.img
kernel/build/*

bootloader/*.elf
bootloader/*.img
bootloader/src/*.elf
bootloader/src/*.img
bootloader/src/*.o
bootloader/boot/*.o

user/*.elf
user/*.img
user/build/*

final_project/nand_*
final_project/*.o
final_project/ssd_fuse_dut
final_project/ssd_fuse

peda*
.gdb*

debug
.vscode
